@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}